version: "3"
services:
  mysql:
    restart: always
    container_name: mysql
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123qwe
    volumes:
      - "./.mysql-data/db:/var/lib/mysql"
      - "./sql:/sql"
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/redis.conf:/etc/redis/redis.conf
      - ./.redis-data:/data
    command: redis-server /etc/redis/redis.conf
    # privileged: true
